:root {
  --bg-form-login: #302c2c;
  --color-form-login: #fff;
}

body {
    background: #585959;
}

#formLogin {
    background: var(--bg-form-login);
    color: var(--color-form-login);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

<<<<<<< HEAD
.tamCard{
    width: auto;
    margin-top: 15px;
}

.h1{
    text-align: center;
}

.filtrar{
    width: auto;
    border-radius: 50px;
}

nav {
    height: 10vh;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
=======
@media (max-width: 700px) {
    #formLogin {
        width: calc(100% - 5em);
        height: calc(100% - 5em);
    }
}
>>>>>>> pageUsuario
