* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-nav: var(--bs-gray-900);
    --bg-promociones: #D9D9D9;
    --bg-servicios: #969393;
    --bg-barberos: #434343;
    --bg-formReservar: #2C2C2C;
    --bg-formReservar-input: #D9D9D9;
}

nav {
    background: var(--bg-nav);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    cursor:pointer;
}

.portada {
    background:  no-repeat center/cover url("../Imgs/portada.jpeg"); 
    height: 100vh;
    gap: 0.5em;
    color: white;
}

.portada:before {
    content: '';
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: block;
}

.portada > * {
    z-index: 1;
}

.portada :where(h1, h3) {
    margin: 0;
    padding: 0;
}

main section {
    text-align: center;
}

main section h1 {
    padding-top: 0.5em;
}

.wrapper-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 0 1em 0;
}

.box {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    gap: 1em;
}

.box:where(h1, p) {
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
  #slcServicios label {
    display: block;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
  }

  #slcServicios label.seleccionada {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }

  .is-invalid {
    border: 2px solid red !important;
}

.error-msg {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
}

.logo {
    width: 10vh;
    height: 10vh;
    margin-left: 10vh;
    background-color: white;
    border-radius: 50%;
=======


.promociones {
    background: var(--bg-promociones);
}

.servicios {
    background-color: var(--bg-servicios);
}

.barberos {
    background-color: #434343;
    color: white;
}

.form-reservar {
    background-color: var(--bg-formReservar);
    color: white;
}

.servicios .box img {
    aspect-ratio: 2/2;
    border-radius: 1em;
}

@media (max-width: 43.75em) {
    .box {
        width: 100%;
        margin: 0 1em 0 1em;
    }
}
@media (min-width: 43.75em) {
    .box {
        width: calc((100% / 2) - 1em);
    }
    .form-reservar .box {
        width: 50%;
    }
}
@media (max-width: 75em) {
    .servicios .box > div {
        flex-direction: column-reverse;
    }
    .servicios .info-corte p:first-child {
        margin-top: 1em;
    }
}
@media (min-width: 75em) {
    .box {
        width: calc((100% / 3) - 1em);
    }
    :where(.servicios, .barberos) .box {
        width: calc(50% - 1em);
    }
}

.barberos .box img{
    width: calc(100% - 5em);
}

.form-reservar .box {
    background-color: initial;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-reservar .box :where(input, select) {
    background-color: var(--bg-formReservar-input);
>>>>>>> pageUsuario
}