* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    height: 10vh;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.portada {
    background-image: url("../Imgs/portada.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    gap: 0.5em;
    color: white;
}

.portada:before {
    content: '';
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 90vh;
    position: absolute;
    display: block;
}

.portada > * {
    z-index: 1;
}

.portada h1, 
.portada h3 {
    margin: 0;
    padding: 0;
}

main section {
    text-align: center;
}

main section .wrapper-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

main section h1 {
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
}

.promociones {
    background-color: #D9D9D9;
}
.promociones .box {
    gap: 1em;
}

.servicios {
    background-color: #969393;
}
.servicios .box > div img {
    aspect-ratio: 2/2;
    border-radius: 1em;
}

.wrapper-box {
        margin: 0 4em 0 4em;
    }

@media (max-width: 700px) {
    .box {
        width: 100%;
        margin: 0 1em 0 1em;
    }
}
@media (min-width: 700px) {
    .box {
        width: calc((100% / 2) - 1em);
    }
    
}
@media (max-width: 1200px) {
    .servicios .box > div {
        flex-direction: column-reverse;
    }
    .servicios .info-corte p:first-child {
        margin-top: 1em;
    }
}
@media (min-width: 1200px) {
    .box {
        width: calc((100% / 3) - 1em);
    }
    :where(.barberos, .servicios) .box {
        width: calc((100% / 2) - 1em);
    }
}

.barberos {
    background-color: #434343;
    color: white;
}
.barberos .box img{
    width: 20em;
    height: 20em;
}

.form-reservar {
    background-color: #2C2C2C;
    color: white;
}
.form-reservar .box {
    background-color: initial;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5em;
    /* width: calc(100%/2); */
}
.form-reservar .box :where(input, select) {
    /* width: 100%; */
    background-color: #D9D9D9;
}

.box {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
}

.box h1,
.box p {
    margin: 0;
    padding: 0;
}